.create-container {
  display: flex;
  flex-direction: column;
}

.add-question-btn {
  align-self: flex-start;
  width: fit-content;
  padding: 10px 30px;
}

.create-card {
  margin-bottom: 25px;
}

.card-title {
  font-size: 1.5em;
}

.btn-cancel {
  margin-left: 1em;
}